<app-header></app-header>
<h2>Manage Airlines</h2>
<div class="inputElements">
    <label for="airlineName">Airline Name :</label>
    <input id="airlineName" type="text"><br><br>
    <label for="flightNo">Flight No :</label>
    <input id="flightNo" type="text"><br><br>
    <label for="noOfSeats">No of Seats :</label>
    <input id="noOfSeats" type="number"><br><br>
    <label for="noOfRows">No of Rows :</label>
    <input id="noOfRows" type="number"><br><br>
    <button class="searchButton">Add</button>
</div>
<hr>
