<app-header></app-header>
<div class="container">
    <h2 class="text-center">Manage Coupons</h2>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="to">Coupon</label>
                <input id="return" class="form-control" value="ACH1235" type="text" >
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="to">Percentage</label>
                <input id="return" class="form-control" value="" type="number" >
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input class="btn" style="background-color: blue;color: white;margin-top: 22px;" type="button" value="Add" >
            </div>
        </div>
    </div>
    <hr>

</div>
