<div class="container" style="padding-top: 100px;">
    <div class="row">
        <div class="col-md-4"></div>
        <div *ngIf="isRegister" class="col-md-4 login-form-2" style="border-right-color: violet;">
            <h3>Sign Up</h3>
            <form [formGroup]="signUpForm" (ngSubmit)="registerUser()">
                <div class="form-floating">
                    <input id="username" class="form-control" type="text" placeholder="username" formControlName="username">
                    <label for="username">Username</label>
                    <p class="alert-danger text-center" *ngIf="signUpForm.controls.username.touched && !!signUpForm.controls.username.errors?.required">Username is required</p>
                </div>
                <div class="form-floating">
                    <input id="emailId" class="form-control" type="email" placeholder="emailId" formControlName="emailId">
                    <label for="emailId">EmailId</label>
                    <p class="alert-danger" *ngIf="signUpForm.controls.emailId.touched && signUpForm.controls.emailId.errors?.required">Email Id is required</p>
                    <p class="alert-danger" *ngIf="signUpForm.controls.emailId.touched && signUpForm.controls.emailId.errors && !signUpForm.controls.emailId.errors?.required">Enter valid Email Id</p>
                </div>
                
                <div class="form-floating">
                    <input id="password" class="form-control" type="password" placeholder="password" formControlName="password">
                    <label for="password">Password</label>
                    <p class="alert-danger" *ngIf="signUpForm.controls.password.touched && !!signUpForm.controls.password.errors">Password is required</p>
                </div>
                    <p class="alert alert-danger" *ngIf="!isValid">Invalid Credentials !</p>
                <div class="form-group text-center">
                    <input class="w-50 btn" style="background-color: seagreen;color: white;" [disabled]="!signUpForm.valid" type="submit" value="Sign Up" />
                </div>
            </form>
        </div>
        <div class="col-md-4 " *ngIf="!isRegister">
            <h3>Login</h3>
            <form [formGroup]="myForm" (ngSubmit)="verifyLogin()">
                <div class="form-floating">
                    <input id="username" class="form-control" type="text" placeholder="username" formControlName="username">
                    <label for="username">Username</label>
                    <p class="alert-danger" *ngIf="myForm.controls.username.touched && !!myForm.controls.username.errors">Username is required</p>
                </div>
                <div class="form-floating">
                    <input id="password" class="form-control" type="password" placeholder="password" formControlName="password">
                    <label for="password">Password</label>
                    <p class="alert-danger" *ngIf="myForm.controls.password.touched && !!myForm.controls.password.errors">Password is required</p>
                </div>
                <div class="text-center">
                    <p class="alert alert-danger" *ngIf="!isValid">Something went wrong.</p>
                </div>
                <div class="form-group text-center">
                    <input class="w-50 btn btn-primary" type="submit" [disabled]="!myForm.valid" value="Login" />
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
        
    </div>
    <div class="row">
        <div class="text-center">
            <a style="color: blue;" (click)="changeView()">Click here to <ng-container>{{ view }}</ng-container></a>
        </div>
    </div>
</div>
<!-- <div class="inputElements" style="border: 1px solid black">
    <form [formGroup]="myForm" (ngSubmit)="verifyLogin()">
        <div>
            <label for="username">Username :</label>
            <input id="username" type="text" formControlName="username">
            <p *ngIf="myForm.controls.username.errors"></p>
        </div><br>
        <div>
            <label for="password">Password :</label>
            <input id="password" type="password" formControlName="password">
        </div><br>
        <div>
            <label for="userRole">Role :</label>
            <select id="userRole" formControlName="role">
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select>
        </div><br>
        <button [disabled]="myForm.invalid" class="searchButton" type="submit">Login</button>
        <br>
        <label *ngIf="!isValid" style="color: red;">Invalid Credentials !</label>
    </form>
</div> -->