<app-header></app-header>
<div id="bookingDetailsSection" class="container">
    <h3>Booking Details</h3>
    <hr>
    <h4>Departure</h4>
    <table style="width: 50%;">
        <tr>
            <td><label style="font-weight: bold;">PNR</label></td>
            <td><label>: {{viewObj.pnr}}</label></td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">Flight No</label></td>
            <td><label>: {{getFlightName(viewObj.flightDetails1)}}</label></td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">From</label></td>
            <td><label>: {{viewObj.fromPlace}}</label></td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">To</label></td>
            <td><label>: {{viewObj.toPlace}}</label></td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">Departur Date</label></td>
            <td><label>: {{viewObj.departureDate}}</label></td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">No of Person(s)</label></td>
            <td><label>: {{viewObj.noOfPersons}}</label></td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">Email</label></td>
            <td><label>: {{viewObj.email}}</label></td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">Amount</label></td>
            <td><label>: {{viewObj.amount}}</label></td>
        </tr>
    </table>
    <hr *ngIf="!!viewObj.flightSchedule2">
    <h4 *ngIf="!!viewObj.flightSchedule2">Return</h4>
    <table style="width: 50%;" *ngIf="!!viewObj.flightSchedule2">
        <tr>
            <td><label style="font-weight: bold;">PNR</label></td>
            <td><label>: {{viewObj.pnr}}</label></td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">Flight No</label></td>
            <td><label>: {{getFlightName(viewObj.flightDetails2)}}</label></td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">From</label></td>
            <td><label>: {{viewObj.toPlace}}</label></td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">To</label></td>
            <td><label>: {{viewObj.fromPlace}}</label></td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">Return Date</label></td>
            <td><label>: {{viewObj.returnDate}}</label></td>
        </tr>
    </table>
</div>
<div class="container" style="margin-bottom: 60px;">
    <button class="btn" type="button" (click)="openPDF()" style="background-color: blue;color: white;">Print</button>
</div>