<app-header></app-header>
<div class="container">
<h2 class="text-center">Manage Booking</h2>
<!-- <p><span style="font-weight: bold;">Note: </span> Only </p> -->
<table class="table table-striped" style="width: 100%;">
    <thead>
        <tr>
            <th>S.No</th>
            <th>PNR</th>
            <th>Flight No</th>
            <th>From</th>
            <th>To</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>No of Person</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let result of bookingDetails;let i = index">
            <td>{{i+1}}</td>
            <td>{{result.pnr}}</td>
            <td>{{result.flightNo}}</td>
            <td>{{result.fromPlace}}</td>
            <td>{{result.toPlace}}</td>
            <td>{{result.departure}}</td>
            <td>{{result.arrival}}</td>
            <td>{{result.noOfPersons}}</td>
            <td>{{result.amount}}</td>
            <td><button class="btn" style="background-color: green;color: white;" (click)="viewDetails(result)">View</button>
                <button class="btn" style="background-color: red;color: white;" (click)="cancelBooking(result)">Cancel</button></td>
        </tr>
    </tbody>
</table>
</div>