<app-header></app-header>
<div class="container">
    <h2 class="text-center">Booking History</h2>
    <table class="table table-striped" style="width: 100%;">
        <thead>
            <tr>
                <th>S.No</th>
                <th>PNR</th>
                <th>Flight No</th>
                <th>From</th>
                <th>To</th>
                <th>Departure</th>
                <th>Return</th>
                <th>No of Person</th>
                <th>Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let result of bookingDetails;let i = index">
                <td>{{i+1}}</td>
                <td>{{result.pnr}}</td>
                <td>{{result.flightDetails1}}</td>
                <td>{{result.fromPlace}}</td>
                <td>{{result.toPlace}}</td>
                <td>{{result.departureDate}}</td>
                <td>{{result.returnDate}}</td>
                <td>{{result.noOfPersons}}</td>
                <td>{{result.amount}}</td>
                <td>
                    <p *ngIf="result.cancelled === false" style="color: green;font-weight: bold;">Completed</p>
                    <p *ngIf="result.cancelled === true" style="color: red;font-weight: bold;">Cancelled</p>
                </td>
            </tr>
        </tbody>
    </table>
    </div>