<app-header></app-header>
<div class="container">
    <h2 class="text-center">Manage Schedule</h2>
    <form [formGroup]="scheduleForm" (ngSubmit)="saveSchedule()">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="airline">Airline Name *</label>
                <select id="tripType" class="form-control" formControlName="airlineId" (change)="getFlightsbasedOnAirlines(scheduleForm.value.airlineId)">
                    <option value="">--Select--</option>
                    <option *ngFor="let airline of airlines" value="{{airline.id}}">{{airline.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="flightNo">Flight No *</label>
                <select id="tripType" class="form-control" formControlName="flightDetails">
                    <option value="">--Select--</option>
                    <option *ngFor="let flight of flightsList" value="{{flight.id}}">{{flight.flightNo}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="from">From *</label>
                <select id="from" class="form-control" formControlName="fromPlace">
                    <option>--Select--</option>
                    <option *ngFor="let place of places">{{place}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="to">To *</label>
                <select id="to" class="form-control" formControlName="toPlace">
                    <option>--Select--</option>
                    <option *ngFor="let place of places">{{place}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="tripType">Frequency *</label>
                <select id="tripType" class="form-control" formControlName="day">
                    <option value="">--Select--</option>
                    <option value="daily">Daily</option>
                    <option value="weekends">Weekends</option>
                    <option value="weekdays">Week days</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="to">Departure Time *</label>
                <input id="return" class="form-control" type="time" formControlName="departureTime">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="to">Arrival Time *</label>
                <input id="return" class="form-control" type="time" formControlName="arrivalTime">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="to">Price of Ticket *</label>
                <input id="return" class="form-control" type="number" formControlName="price">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group text-center">
                <input class="btn" [disabled]="scheduleForm.invalid" style="background-color: green;color: white;margin-top: 22px;" type="submit" value="Save">
            </div>
        </div>
    </div>
</form>
</div>
<hr>
<div style="padding: 10px;Overflow-y: scroll;height: 300px;">
    <table class="table table-striped" style="width: 100%;">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Airlines</th>
                <th>Flight No</th>
                <th>From</th>
                <th>To</th>
                <th>Frequency</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>No of Business Class</th>
                <th>No of Economy Class</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let result of scheduleList;let i = index">
                <td>{{i+1}}</td>
                <td>{{getAirlineName(result.airlineId)}}</td>
                <td>{{getFlightName(result.flightDetails)}}</td> 
                <td>{{result.fromPlace}}</td>
                <td>{{result.toPlace}}</td>
                <td>{{result.day}}</td>
                <td>{{result.departureTime}}</td>
                <td>{{result.arrivalTime}}</td>
                <td>{{result.availableBusinessClassSeats}}</td>
                <td>{{result.availableEconomyClassSeats}}</td>
                <td>{{result.price}}</td>
                <td><button class="btn" *ngIf="!result.blocked" (click)="enableEditOption(result)" style="background-color: green;color: white;">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
