<app-header></app-header>
<div class="container">
    <h2 class="text-center">Search</h2>
    <form [formGroup]="searchForm" (ngSubmit)="searchFlights()">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="tripType">Trip Type *</label>
                <select id="tripType" class="form-control" formControlName="tripType" (change)="resetReturnDate(searchForm.value.tripType)">
                    <option value="">--Select--</option>
                    <option value="oneway">One Way</option>
                    <option value="round">Round</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="from">From *</label>
                <select id="from" class="form-control" formControlName="fromPlace">
                    <option>--Select--</option>
                    <option *ngFor="let place of places">{{place}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="to">To *</label>
                <select id="to" class="form-control" formControlName="toPlace">
                    <option>--Select--</option>
                    <option *ngFor="let place of places">{{place}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="to">Departure Date *</label>
                <input id="departure" class="form-control" type="date" formControlName="departureDate">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="to">Return Date</label>
                <input id="return" class="form-control" type="date" formControlName="returnDate" >
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="classType">Class *</label>
                <select id="classType" class="form-control" formControlName="classType">
                    <option>--Select--</option>
                    <option value="business">Business</option>
                    <option value="economy">Economy</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="noOfPassenger">No of Passenger(s) *</label>
                <input id="noOfPassenger" class="form-control" type="number" formControlName="noOfPassenger" >
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="btn" type="button" (click)="resetSearch()" style="background-color: red;color: white;margin-top: 22px;" value="Cancel">
                <input class="btn" [disabled]="searchForm.invalid" style="background-color: green;color: white;margin-top: 22px;" type="submit" value="Search">
            </div>
        </div>
    </div>
</form>
</div>
<hr>
<div *ngIf="displayTable" class="container" style="display: flex;padding: 10px;justify-content: space-evenly;Overflow-y: scroll;height: 250px;">
    <div style="width: 45%;" *ngIf="tripType === 'oneway' || tripType === 'round'">
        <h4>{{searchForm.value.fromPlace}} to {{searchForm.value.toPlace}}</h4>
        <table class="table table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Airlines</th>
                    <th>Flight No</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let result of oneWayList;let i = index" (click)="selectRowIdForTable1(result.id)" [style.background-color]="schedule1 == result.id? style : ''">
                    <td>{{i+1}}</td>
                    <td>{{getAirlineName(result.airlineId)}}</td>
                    <td>{{getFlightName(result.flightDetails)}}</td>
                    <td>{{result.departureTime}}</td>
                    <td>{{result.arrivalTime}}</td>
                    <td>{{result.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="width: 45%;" *ngIf="tripType === 'round'">
        <h4>{{searchForm.value.toPlace}} to {{searchForm.value.fromPlace}}</h4>
        <table class="table table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Airlines</th>
                    <th>Flight No</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let result of roundList;let i = index" (click)="selectRowIdForTable2(result.id)" [style.background-color]="schedule2 == result.id? style : ''">
                    <td>{{i+1}}</td>
                    <td>{{getAirlineName(result.airlineId)}}</td>
                    <td>{{getFlightName(result.flightDetails)}}</td>
                    <td>{{result.departureTime}}</td>
                    <td>{{result.arrivalTime}}</td>
                    <td>{{result.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container" *ngIf="displayTable" style="margin-bottom: 60px;">
    <div class="text-end">
        <div class="form-group">
            <input class="btn" style="background-color: red;color: white;margin-top: 22px;" type="button" value="Cancel" (click)="cancelBookingSelection()">
            <input class="btn" [disabled]="schedule1 == 0 || (tripType === 'round' && schedule2 == 0)" type="button" style="background-color: green;color: white;margin-top: 22px;" (click)="bookTicket()" value="Book">
        </div>
    </div>
</div>
